.redBtn{
    color: rgb(204, 75, 65)   
}

.primaryBtn{
    color: white;
    background-image: linear-gradient(to bottom right, rgba(65, 151, 204, 1), rgba(48, 111, 150, 1));
}

.primaryBtn:hover{
    color: white;
    background-image: linear-gradient(to bottom right, rgba(65, 151, 204, 0.5), rgba(48, 111, 150, 0.5));
}

.nav-link.active{
    color: white;
    background: none;
    background-image: linear-gradient(to bottom right, rgba(65, 151, 204, 1), rgba(48, 111, 150, 1)) !important;
}

.nav-link.active:hover{
    color: white;
    background: none;
    background-image: linear-gradient(to bottom right, rgba(65, 151, 204, 0.5), rgba(48, 111, 150, 0.5)) !important;
}

.nav-item.display-pic{
    border: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.profile-display-pic-container{
    position: relative;
}

.profile-display-pic{
    border: 0px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: none;
}

.profile-display-pic.edit-btn{
    position: absolute;
    background-color: var(--darkGrey);
    color: var(--bs-primary);
    right: 20%;
    top: 15%;
    height: 15%;
    width: 15%;
}

.profile-card{
    border: 0px;
    border-radius: 10px;
    box-shadow: #191919 0px 0px 5px 5px;
    padding: 10px;
    margin-top: 5%;
}

.invalid-form-entry{
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #f74355;
}